<% @restaurants.each do |restaurant| %>
  <div class="restaurant">
    <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
    <p><%= "*" * restaurant.rating %></p>
    <p><%= restaurant.address %></p>
    <%= link_to "Remove Restaurant", restaurant_path(restaurant), method: :delete %>
  </div>
<% end %>
